@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Leia o siginificado a seguir*/
}

body {
    
    font-family: 'Roboto', sans-serif;
    /* background-color: gray; */
    color: #333333;
    line-height: 1.5;
}

/* conteiner Principal   */
.cv-conteiner {
    
    max-width: 1400px;
    margin: 20px auto;
    padding: 0 16px;
    display: flex;
    gap: 16px;
}

.col-esquerda {
    
    flex: 1;
}

.col-direita {
    flex: 2;
}

.card {
    background-color: #ffffff;
    margin-bottom: 16px;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
}

/* Fim da etapa 01*/   

.site-footer {
    background-color: #009688;
    color: #ffffff;
    text-align: center;
    padding: 32px 16px;
    margin-top: 16px;
}

.site-footer p {
    font-size: 16px;
    margin-bottom: 16px;
}

<<<<<<< HEAD
.card-header {
    padding: 16px;
    color: #757575;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.card-header .icon-titulo {
    color: #009688;
    font-size: 30px;
    margin-right: 16px;
}
.card-content {
    padding: 0 16px 16px 16px;
}

.cargo-empresa{
    color: #616161;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
}

.periodo {
    color: #009688;
    font-size: 14px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.icon-periodo {
    margin-right: 12px;
    font-size: 16px;
}

.badge-tag {
    background-color: #009688;
    color: #ffffff;
}
=======
.social-icons {
    margin-bottom: 16px;
}

.social-icons a {
    color: #ffffff;
    font-size: 24px;
    margin: 0 4px;
    text-decoration: none;
    display: inline-block;
    opacity: 1;
    transition: opacity 0.3 ease;
}

.social-icons a:hover {
    opacity: 0.6;
}

.site-footer .credits {
    font-size: 14px;
}

.site-footer .credits a {
    color: #ffffff;text-decoration: underline;
    transition: color 0.3s ease;

}

.site-footer .credits a:hover {
    color: #ccc;
}

/*Conclução da parte 02| pagina 10*/
>>>>>>> c483e6f3489386c2b07d5f471c861ca0fc578536
